<!doctype html>
<html>
  <head>
    <title>Face Merge</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
  </head>
  <body>
    <h1>Face Merge</h1>
    <h2>Mix the faces of multiple people in a single image.</h2>
    <a href="">Documentation</a>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="image_files" accept="image/*" multiple></p>
      <p><input type="submit" value="Merge!"></p>
    </form>
  </body>
</html>